.contact-section-demo {
  width: 100%;
  height: 100%;
  /* background-color: #fffdf9; */
}

* a {
  text-decoration: none;
  color: #070707;
}
::placeholder {
  padding-left: 10px;
}
.hero-content-demo {
  padding: 3rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.hero-subtitle-demo {
  margin: 1rem 0;
}
.hero-content-demo-left {
  flex-basis: 50%;
}
.bgImage-demo {
  position: absolute;
  z-index: -999;
  top: 0;
  right: 0;
}

.hero-list .list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 0;
}
.hero-list .list li {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

/* ---------- lower seciton------ */

.social-media {
  width: 90%;
  height: auto;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
  gap: 50px;
  margin-top: 10rem;
}
.email-all {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.social-media .email-all .email a {
  text-decoration: none;
}
.social-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 40px;
}
.social-link .contact-container a {
  text-decoration: none;
}
.content-11 {
  display: inline-flex;
  align-items: center;
  padding: 10px 10px;
  justify-content: space-around;
}
.map-section {
  position: relative;
  width: 50%;
  overflow: hidden;
  padding-top: 30%;
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}
@media screen and (max-width: 1024px) {
  .bgImage-demo {
    display: none;
  }
  .hero-content-demo {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -3rem;
  }
  .social-link {
    margin-left: -7rem;
  }
  .social-link {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}

@media screen and (max-width: 425px) {
  .hero-title-demo h1 {
    font-size: 34px;
    display: inline-block;
  }
  .hero-subtitle-demo p {
    font-size: 18px;
  }
  .hero-list .list ul li p {
    font-size: 18px;
  }
  .social-media {
    margin-top: -3rem;
  }
}
