section {
  width: 100%;
  height: auto;

  /* background-repeat: no-repeat;
  background-size: auto; */
  margin-bottom: 500px;
  background-repeat: cover;
  position: relative;
}

.main {
  max-width: 90%;
  height: 739px;
  position: relative;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: flex-start;
  gap: 20px;
  position: relative;
}
.main img {
  position: absolute;
  top: 0;
  left: 0;
}
.right-content {
  max-width: 50%;
  text-align: flex-start;
}
.right-content h2 {
  padding-top: 15px;
}
.right-content img {
  margin-bottom: 10px;
}

/* .form-container {
  height: auto;
  width: ;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 114px 12px rgba(255, 215, 156, 0.15);
}
.form {
  display: flex;
  flex-direction: row;
  padding: 30px 30px;
}
label {
  align: flex-start;
} */

.form-container {
  max-width: 50%;
}
