/* .choice {
  margin-top: 6rem;
} */
.choice {
  width: 100%;
  height: auto;
}
.choice-section {
  width: 90%;
  max-height: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 5px;
}
.right-choice {
  display: flex;
  flex: 50%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
}
.left-choice {
  align-items: flex-start;
  margin-right: 3rem;
}
.left-choice img {
  width: 100%;
  height: auto;
}
.button-choice {
  margin-left: -1rem;
}
.button-choice:hover {
  transform: scale(0.2rem) ease-in-out 2s;
  -webkit-transform: scale(0.2rem);
}
.button-choice:hover .arrow-schedule {
  animation: arrow alternate 0.8s infinite;
}
@keyframes arrow {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  .choice-section {
    display: flex;
    flex-direction: column;
  }
  .right-choice h2 p {
    font-size: 10px;
  }
}
@media screen and (max-width: 425px) {
  .choice-section {
    width: 90%;
    margin: auto auto;
  }
  .right-choice {
    margin: auto;
  }
  .right-choice h2 {
    font-size: 20px;
  }
  .right-choice p {
    font-size: 12px;
    text-align: justify;
  }
}
