.clear-things {
  max-width: 100%;
  height: auto;
  /* background-color: aqua; */
}
.clear-things-main {
  width: 90%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: row;
  margin: 8rem 6rem;
}
.clear-things-right {
  flex-basis: 50%;
}

.clear-things-right h1 {
  text-align: left;
  font-size: 32px;
  font-weight: 800;
  margin-left: 1.5rem;
}
.clear-things-left {
  margin-top: -6rem;
}
.burger-image {
  width: 80%;
  height: auto;
  margin: 2rem 0rem;
}
.span-class {
  background: var(
    --sajha-menu,
    linear-gradient(116deg, #ffba53 0%, #fc8211 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  font-weight: 800;
}
@media screen and (max-width: 768px) {
  .clear-things-main {
    display: flex;
    flex-direction: column;
  }
  .clear-things-right h1 {
    font-size: 20px;
  }
  .span-class {
    font-size: 25px;
  }
}
@media screen and (max-width: 425px) {
  .clear-things-right {
    margin-left: -5rem;
  }
  .span-class {
    font-size: 25px;
  }
  .clear-things-left {
    margin-left: -5rem;
  }
}
