* {
  margin: 0;
  padding: 0;
}

.hero-section-1 {
  width: 100%;
  height: auto;
  background: url(../assests/Gradient.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
}
.graphic-element {
  max-width: 100%;
  height: auto;
  height: 1376px;
  position: absolute;
  left: 0;
  top: -20;
  overflow: hidden;
  object-fit: cover;
  opacity: 0.5;
  mix-blend-mode: soft-light;
}
.hero-content-text h1 {
  text-align: left;
  margin-left: 3rem;
}

.hero-content-text p {
  text-align: left;
  margin-left: 3rem;
}
.button-hero {
  margin: 2rem;
}
button {
  display: flex;
  padding: 16px;
  align-items: center;
  background: var(--dark, #070707);
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 1rem;
}
button:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}
.forward-Icon {
  position: relative;
}
button:hover .forward-Icon {
  animation: myfirst 0.7s 20;
  animation-direction: alternate;
}

.image1 {
  max-width: 100%;
  margin: 5rem;
  height: auto;
}
@media screen and (max-width: 768px) {
  .hero-content-text h1 {
    font-size: 30px;
  }
  .hero-content-text p {
    font-size: 20px;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    margin-left: -2rem;
  }
  .image1 {
    margin: auto;
  }
}

@media screen and (max-width: 425px) {
  .hero-content-text h1 {
    font-size: 30px;
  }
  .hero-content-text p {
    font-size: 10px;
  }
  .hero-content-left img {
    width: 90%;
    height: auto;
    margin-left: 3rem;
  }
}
