/* * {
  margin: 0;
  padding: 0;
}
* .Hero-container-1 {
  height: 90vh;
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items:background: url(../assests/Gradient.png), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: soft-light;
  overflow: hidden;
  position: relative; center;
  
}

.grapahic_element-1 {
  height: auto;
  margin: auto;
  margin-right: 600px;
  position: absolute;
  z-index: -999;
  mix-blend-mode: soft-light;
  overflow: hidden;
  object-fit: cover;
}
.Hero-content-1 {
  /* display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 200px;
  margin-left: 100px; */

/* position: absolute; */
/* } */
/* 
.hero-content-1 h1 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  color: var(--dark, #070707);
  font-size: 64px;
  font-weight: 900;

  line-height: 105.7%;
}
.hero-content-1 p {
  display: flex;
  width: 674px;
  height: 73px;
  flex-direction: column;
  color: #232323;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}
button {
  display: flex;
  padding: 16px;
  align-items: center;
  background: var(--dark, #070707);
  color: white;
  border: none;
  border-radius: 4px;
}

.hero-image-1 {
}
.hero-image-99 { */
/* 
  flex-shrink: 0;
} */

* {
  margin: 0;
  padding: 0;
}

.Hero-container-1 {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 30px;
  background: url(../assests/Gradient.png), lightgray 50% / cover no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  mix-blend-mode: soft-light;

  overflow: hidden;
  position: relative;
}
.grapahic_element-1 {
  height: auto;
  margin: auto;
  top: 0;
  right: 0;
  margin-right: 0px;
  position: absolute;
  z-index: -999;
  mix-blend-mode: soft-light;
  overflow: hidden;
  object-fit: cover;
}
.hero-content-1 {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.hero-content-1 h1 {
  /* color: var(--dark, #070707); */
  font-size: 60px;
  /* font-family: Mont;
  font-style: normal; */
  font-weight: 800;
}
.hero-content-1 p {
  color: #232323;
  font-size: 16px;
  font-family: Mont;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}
.hero-image-99 {
  width: 700px;
  height: 652px;
}
.hero-content-1 h1 {
  display: flex;
}
