.offerings {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.heading h1 {
  font-weight: 800;
}
.offer_Items {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  display: flex;
}
.offer_Items li {
  padding: 5px 10px;
  list-style: none;
}
.selected_Item {
  background-image: linear-gradient(#ffba53, #fc8211);
  border-radius: 7px;
}

.offer {
  background-color: #000000;
  color: aliceblue;
  margin: auto;
  padding: 10px 15px;
  border-radius: 5px;
}
.gradiant {
  background-color: #ffba53;
  padding: 10px 10px;
}

.frame-13 {
  width: 90%;
  background-color: #fdf4e5;
  margin: 5rem auto;
  padding: 5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 50%;
}
.frame-13 img {
  width: 100%;
  height: auto;
}
.right-Side-Content {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 5rem 5rem;
  gap: 3rem;
  padding: 10px 20px; */
  padding: 5rem 5rem;
}
.right-Side-Content p {
  text-align: justify;
}
.right-Side-Content h2 {
  font-weight: 800;
}
.left-image-offer {
  width: 100%;
  height: auto;
}
.timi {
  margin-top: -200px;
  margin-left: 100px;
}
.timi2 {
  margin-top: 30px;
}
.left-image-offer {
  width: 100%;
  height: auto;
}
.offering-button {
  margin-left: -1rem;
}

@media screen and (max-width: 768px) {
  /* .frame-13 {
    display: flex;
    flex-direction: column;
  }
  .right-Side-Content p {
    display: inline;
    text-align: justify;
    word-spacing: none;
  }
  .heading h1 {
    font-size: 32px;
  } */
  .frame-13 {
    flex-direction: column;
  }
  .right-Side-Content h2 {
    margin-left: -4rem;
  }
  .right-Side-Content p {
    margin-left: -4rem;
    margin-right: -4rem;
  }
  .offering-button {
    margin-left: -5rem;
  }
}
@media screen and (max-width: 425px) {
  .right-Side-Content p {
    margin-top: 1rem;
  }

  .heading h1 {
    font-size: 32px;
  }
}
@media screen and (max-width: 320px) {
  .right-Side-Content {
    margin: none;
  }
  .right-Side-Content h1 {
    text-align: lefts;
  }
}
