.footer_container {
  width: 100%;
  height: auto;
  background-color: #070707;
  color: white;
  margin-top: 50px;
}

.footer_main {
  padding: 3rem 0;
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 2rem;
}
.about_section {
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: aliceblue;
}
.about_content p {
  color: aliceblue;
  text-align: justify;
}

.products_section {
  padding-left: 10px;
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.products_content {
  width: 50%;
}
.products_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}
.contact_section {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: aliceblue;
}
.contact_list p {
  color: aliceblue;
}
.contact_list li {
  display: flex;
  gap: 1rem;
  color: aliceblue;
}
.social_section {
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.social_list {
  display: flex;
  gap: 1rem;
}
.social_list li {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container_footer {
  padding: 20px 10px;
}
.container_footer p {
  text-align: center;
  padding: 20px;
  color: aliceblue;
}
@media screen and (max-width: 768px) {
  .social_list {
    display: flex;
    flex-direction: column;
  }
  .footer_main {
    grid-template-columns: none;
  }
}
