.section {
  width: 100%;
  height: auto;
}
.span-class-3 {
  background: var(
    --sajha-menu,
    linear-gradient(116deg, #ffba53 0%, #fc8211 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
}
.about-us {
  width: 90%;
  height: auto;
  /* background-color: aqua; */
  margin: auto;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  text-align: flex-start;
  padding: 30px;
}
.about-right {
  flex-basis: 50%;
}

.about-right p {
  margin: 10px 0;
  color: #353b4b;
  text-align: justify;
  font-size: 16px;
  /* font-family: Poppins; */
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.image-left img {
  width: 100%;
  height: auto;
}
.hero-12 {
  width: 100%;
  height: 51vh;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  background-color: #fdf4e5;
  overflow: hidden;
}

.auto {
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 51vh;
}

.story {
  margin: auto;
  margin-top: 20px;
  width: 90%;
  height: auto;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.story-right-img {
  width: 100%;
  height: auto;
}
.story-content-left {
  display: flex;
  margin: auto;
  text-align: justify;
  flex-direction: column;
  flex-basis: 50%;
}
.story-content-left p {
  margin-top: 40px;
}
.story-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.story-content-left p {
  color: #353b4b;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}
.section-last {
  width: 90%;
  height: auto;
  margin: auto;
  margin-top: 10rem;
  text-align: center;
  padding: 20px;
}
.section-last p {
  padding-top: 20px;
  text-align: inline;
}
.tuna-logo {
  width: 90%;
  height: 40vh;
  margin: auto;
  margin-top: 15px;
}

.tuna {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  gap: 2rem;
}
.spin-button:hover img {
  animation: spin1 0.5s linear 2;
}

@keyframes spin1 {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(00);
  }
}

.spin-button:hover .span55 {
  animation: spin 0.5s linear 2;
}
@keyframes spin {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(00);
  }
}

@media screen and (max-width: 1024px) {
  .auto {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .auto {
    display: none;
  }
  .about-us {
    flex-direction: column;
  }
  .story {
    flex-direction: column-reverse;
  }
  .tuna {
    flex-direction: column;
    margin: 5rem auto;
  }
  .hero-12 h1 p {
    margin: auto;
    margin-right: 40rem;
  }
}
@media screen and (max-width: 425px) {
  .hero-12 h1 {
    text-align: center;
    align-items: center;
    font-size: 38px;
  }
  .about-right {
    margin: 0rem -2rem;
  }
  .span-class-3 {
    font-size: 38px;
  }
}
